.row {
	@extend %inline-block-fix;
	> span {
		padding: .5em;
	}
	h2 {
		text-align: right;
		@extend %inline-block-fix;
		.start {
			width: 5em;
		}
		.middle {
			width: 2em;
			text-align: right;
		}
		.end {
			width: 5em;
			text-align: center;
		}
	}
	.half {
		@extend %inline-block-fix;
		width: 50%;
		&:first-child {
			padding: 0 0 0 50px;
		}
		.label {
			text-align: right;
			width: 8em;
		}
	}
	.left {
		width: 25%;
		text-align: right;
		span {
			font-size: 15px;
		}
	}
	.right {
		width: 75%;
		h2 {
			font-size: 16px;
			text-align: left;
			margin: 0 0 0 0;
		}
	}
}
.skills {
	padding: 0 0 0 27%;
}
